'Expires: -1' raises ValueError

### The problem
Some endpoints (`GET https://management.azure.com
/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/example?api-version=2024-11-01`) returns `Expires: -1`.

This results in ValueError being raised:
```
Traceback (most recent call last):
  [snipped my code]
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/tracing/decorator.py", line 119, in wrapper_use_tracer 
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/mgmt/resource/resources/v2024_11_01/operations/_operations.py", line 10806, in get
    pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 242, in run
    return first_node.send(pipeline_request)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 98, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^    
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 98, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 98, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^    
  [Previous line repeated 2 more times]
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/mgmt/core/policies/_base.py", line 95, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/policies/_redirect.py", line 205, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^    
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/policies/_retry.py", line 544, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/policies/_authentication.py", line 159, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^    
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 98, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 98, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 98, in send
    response = self.next.send(request)
               ^^^^^^^^^^^^^^^^^^^^^^^    
  [Previous line repeated 2 more times]
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/_base.py", line 130, in send
    self._sender.send(request.http_request, **request.context.options),
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/azure/core/pipeline/transport/_requests_basic.py", line 363, in send
    response = self.session.request(  # type: ignore
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/requests_cache/session.py", line 183, in request
    return super().request(method, url, *args, headers=headers, **kwargs)  # type: ignore
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/requests_cache/session.py", line 230, in send
    response = self._send_and_cache(request, actions, cached_response, **kwargs) 
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/requests_cache/session.py", line 258, in _send_and_cache
    self.cache.save_response(response, actions.cache_key, actions.expires)
                                                          ^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/requests_cache/policy/actions.py", line 149, in expires
    return get_expiration_datetime(self.expire_after)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/alex/src/radnac/.venv/lib/python3.11/site-packages/requests_cache/policy/expiration.py", line 39, in get_expiration_datetime 
    raise ValueError(f'Invalid HTTP date: {expire_after}')
ValueError: Invalid HTTP date: -1
```

The HTTP headers returned by Azure here were:
```
Cache-Control: no-cache
Pragma: no-cache
Content-Length: 441
Content-Type: application/json; charset=utf-8
Expires: -1
x-ms-ratelimit-remaining-subscription-reads: 249
x-ms-ratelimit-remaining-subscription-global-reads: 3749
x-ms-request-id: 110d9135-48b3-4c37-80df-4b7f286353d4
x-ms-correlation-request-id: 110d9135-48b3-4c37-80df-4b7f286353d4
x-ms-routing-request-id: UKSOUTH:20250518T065142Z:110d9135-48b3-4c37-80df-4b7f286353d4
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
X-Cache: CONFIG_NOCACHE
X-MSEdge-Ref: Ref A: 05A8543688334C55A5FB3E83F84C756E Ref B: AMS231022012011 Ref C: 2025-05-18T06:51:42Z
Date: Sun, 18 May 2025 06:51:42 GMT
```

### Expected behavior
Invalid dates MUST be treated as 'already expired' ([RFC 2616, section 14.21](https://datatracker.ietf.org/doc/html/rfc2616#section-14.21)).

### Steps to reproduce the behavior
```
backend = SQLiteCache(use_memory=True)
session = CachedSession(backend=backend, cache_control=True)
session.get('....some broken endpoint here....')
```

### Workarounds
...incoming PR

### Environment
- requests-cache version: 1.2.1
- Python version: 3.11
- Platform: Debian 12
