Multipart-form encoded POST requests fail due to boundary format

### The problem
When uploading binary data via multipart-form encoded format the specific server I have responds with 500 error with no further explanation. Can't pinpoint that to specific server software due to lack of information, sadly.

### Expected behavior
Server responds with 304 or 200 code upon processing request

### Steps to reproduce the behaviour
```python
session = CachedSession('my_cache')
res = session.post(some_url, files={'file': open('/tmp/an_image.jpg', 'rb')})
res.ok  # 200/304 expected here, not 500
```
### Workarounds
According to RFC2046 section 5.1.1: https://www.rfc-editor.org/rfc/rfc2046#section-5.1.1 "#" is not one of allowed symbols in boundary value, and indeed replacing patched string in `_utils.py` with something else solves the issue with that specific server software.

### Environment
- requests-cache version: `1.1.1`
- Python version: `3.10.7`
- Platform: Linux


Oh, that's a detail I wasn't aware of. Thank you , that's very helpful!